.footer__link {
  margin-bottom: 32px;
}

.footer__link:last-child {
  margin-bottom: 46px;
}

@media screen and (min-width: 768px) {
  .footer__link {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0px;
    margin-right: 19px;
  }

  .footer__link:last-child {
    margin-bottom: 0px;
  }
}