.lead__image {
  width: 100%;
  height: 197px;
  object-fit: cover;
  margin-bottom: 8px;
}

@media screen and (min-width:768px) {
  .lead__image {
    height: 479px;
    margin-bottom: 6px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    width: 90%;
    display: block;
    margin: 0 auto 8px;
    height: 580px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    width: 76%;
    height: 615px;
  }
}