.lead__sub-title {
  text-align: center;
  width: 90%;
  margin: 15px auto 40px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .lead__sub-title {
    margin: 32px auto 56px;
    font-size: 30px;
    line-height: 36px;
    width: 83%;
  }
}

@media (min-width: 1024px) {
  .lead__sub-title {
    width: 62%;
  }
}

@media (min-width: 1280px) {
  .lead__sub-title {
    width: 50%;
    margin: 40px auto 64px;
  }
}