.places__item:last-child {
  margin-bottom: 66px;
}

@media screen and (min-width:768px) {
  .places__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 16px;
    row-gap: 15px;
    margin-bottom: 73px;
  }
  
  .places__item:last-child {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .places__item {
    margin-bottom: 55px;
  }

  .places__item:last-child {
    margin-bottom: 69px;
  }
}
